<!DOCTYPE html>
<html>

@await Component.InvokeAsync("_MainLayoutHeaderPartialComponent")

<body class="sub_page">


    @await Component.InvokeAsync("_MainLayoutNavbarPartialComponent")

    @RenderBody()
  
    @await Component.InvokeAsync("_MainLayoutFooterPartialComponent")
   
   

   
    <!-- jQery -->
    <script src="~/feane-1.0.0/js/jquery-3.4.1.min.js"></script>
    <!-- popper js -->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <!-- bootstrap js -->
    <script src="~/feane-1.0.0/js/bootstrap.js"></script>
    <!-- owl slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
    </script>
    <!-- isotope js -->
    <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
    <!-- nice select -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
    <!-- custom js -->
    <script src="~/feane-1.0.0/js/custom.js"></script>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
    </script>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.8/signalr.min.js"></script>
    <script src="~/js/chat.js"></script>
    <!-- End Google Map -->
    @await Component.InvokeAsync("Notyf")
    @await Html.PartialAsync("/Areas/Admin/Views/_notificationPartial.cshtml")
    @RenderSection("Scripts", required: false)
</body>
</html>