@{
    bool isAuthenticated = User.Identity.IsAuthenticated;
}
<div class="hero_area">
    <div class="bg-box">
        <img src="~/feane-1.0.0/images/adobe.png" alt="">
    </div>
   
    <!-- header section strats -->
    <header class="header_section"> 
        <div class="container">
           
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <div class="d-flex justify-content-between align-items-center w-100">
                    <div class="d-inline-block" id="selectLanguage">
                        <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img src="~/Admin/vertical/assets/images/flags/us.jpg" id="currentLanguageImage" height="16">
                            <span class="d-none d-sm-inline-block ml-1" id="currentLanguageText"></span>
                            <i class="mdi mdi-chevron-down d-none d-sm-inline-block"></i>
                        </button>
                        <div class="dropdown-menu">
                            <a data-value="en" class="dropdown-item notify-item language-option">
                                <img src="~/Admin/vertical/assets/images/flags/us.jpg" alt="user-image" class="mr-1" height="12"> <span class="align-middle">@Localizer["English"]</span>
                            </a>
                            <a data-value="tr" class="dropdown-item notify-item language-option">
                                <img src="~/Admin/vertical/assets/images/flags/turkey.png" alt="user-image" class="mr-1" height="12"> <span class="align-middle">@Localizer["Turkish"]</span>
                            </a>
                        </div>
                        <a asp-controller="DefaultMain" asp-action="Index" class="navbar-brand">
                            <span>
                                @*   <img src="~/feane-1.0.0/images/logo.png" alt="" style="width: 1cm; height: 1cm;"> *@
                                Melody Burger
                            </span>
                        </a>
                    </div>
            
                </div>
           

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item">
                            <a asp-controller="DefaultMain" asp-action="Index" class="nav-link">Home </a>
                        </li>                                          
                        <li class="nav-item">
                            <a asp-controller="AboutUs" asp-action="Index" class="nav-link" >About</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Product" asp-action="Index" class="nav-link">Products</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Campaign" asp-action="Index" class="nav-link">Campaign</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Message" asp-action="Index" class="nav-link">Support</a>
                        </li>
                    </ul>
                    <div class="user_option">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <a asp-controller="AppUserAccount" asp-action="UserProfile" class="user_link">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>
                        }
                        else
                        {
                            <a asp-controller="AppUserAccount" asp-action="Login" class="user_link">
                                <i class="fa fa-user" aria-hidden="true"></i>
                            </a>

                            
                        }
                        <a asp-controller="Account" asp-action="UserLogout" asp-area="">@Localizer["Logout"]</a>

                        <a class="cart_link" href="#">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                            <g>
                            <g>
                            <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                    </g>
                  </g>
                            <g>
                            <g>
                            <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z" />
                    </g>
                  </g>
                            <g>
                            <g>
                            <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                    </g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                            <g>
                  </g>
                </svg>
                        </a>
                        <form class="form-inline">
                            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                       
                        <a href="" class="order_online">
                            Orders
                        </a>
                       
                    </div>
                </div>
            </nav>
        </div>
        
    </header>
   
    <!-- end header section -->

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            updateLanguageDisplay();

            var languageOptions = document.querySelectorAll('.language-option');
            languageOptions.forEach(function (option) {
                option.addEventListener('click', function () {
                    var selectedCulture = this.getAttribute('data-value');
                    document.cookie = ".AspNetCore.Culture=c=" + selectedCulture + "|uic=" + selectedCulture + ";path=/";
                    location.reload();
                });
            });
        });

        function getCookie(name) {
            var value = "; " + document.cookie;
            var parts = value.split("; " + name + "=");
            if (parts.length === 2) return parts.pop().split(";").shift().split('|')[0].split('=')[1];
        }

        function updateLanguageDisplay() {
            var currentCulture = getCookie(".AspNetCore.Culture") || "en";
            var languageText = document.getElementById('currentLanguageText');
            var languageImage = document.getElementById('currentLanguageImage');
            var englishOption = document.querySelector('.language-option[data-value="en"]');
            var turkishOption = document.querySelector('.language-option[data-value="tr"]');

            if (currentCulture === 'tr') {
                languageImage.src = '/Admin/vertical/assets/images/flags/turkey.png';

                englishOption.style.display = 'block';
                turkishOption.style.display = 'none';
            } else {
                languageImage.src = '/Admin/vertical/assets/images/flags/us.jpg';

                englishOption.style.display = 'none';
                turkishOption.style.display = 'block';
            }
        }
    </script>

    <style>
        .cart-item-count {
            background-color: red;
            color: white;
            padding: 2px 6px;
            border-radius: 50%;
            position: absolute;
            top: 0;
            right: 0;
            font-size: 12px;
        }
    </style>
