@using RestaurantApp.UI.Areas.Admin.Models.CampaignVMs;
@model IEnumerable<AdminCampaignListVM>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/MainLayout/_MainLayout.cshtml";
}



<!-- slider section -->
<section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    KAMPANYALAR
                                </h1>
                                <p>
                                    Lezzetli ve doyurucu burgerlerimizin tadını çıkarırken, cebinizi de koruduğumuzu bilmenizi isteriz. Melody Burger'de, taze ve kaliteli malzemelerden hazırlanan burgerlerimizi, makul fiyatlarla sunarak herkesin ulaşabileceği bir lezzet deneyimi yaratıyoruz. Menümüzde yer alan her bir ürün, hem damağınıza hitap ederken hem de bütçenize uygun seçenekler sunar.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Click now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                   MB LEZZETLERİ
                                </h1>
                                <p>
                                    Ürünlerimiz;
                                    Melody Burger olarak, klasik hamburgerlerden özel tariflerle hazırladığımız gurme burgerlere kadar geniş bir yelpazede ürünler sunuyoruz. Tüm burgerlerimiz, özenle seçilmiş etlerden ve taze sebzelerden hazırlanır. Ayrıca, vejetaryen ve vegan dostu seçeneklerimizle herkesin damak zevkine hitap ediyoruz.Melody Burger’ı tercih ettiğiniz için teşekkür ederiz.


                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Click now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container ">
                    <div class="row">
                        <div class="col-md-7 col-lg-6 ">
                            <div class="detail-box">
                                <h1>
                                    BU LEZZETE GÜVEN
                                </h1>
                                <p>
                                    Melody Burger, 2024 yılında hamburger tutkumuzu sizlerle paylaşmak amacıyla kuruldu. Kurucularımızın yemek ve misafirperverlik konusundaki deneyimleri, Melody Burger’i lezzetin ve kalitenin buluştuğu bir nokta haline getirdi. Burgerlerimizi hazırlarken, her bir malzemenin özenle seçildiği ve en iyi şekilde sunulduğu bir mutfak kültürünü benimsedik.
                                </p>
                                <div class="btn-box">
                                    <a href="" class="btn1">
                                        Click now
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">
            <ol class="carousel-indicators">
                <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                <li data-target="#customCarousel1" data-slide-to="1"></li>
                <li data-target="#customCarousel1" data-slide-to="2"></li>
            </ol>
        </div>
    </div>

</section>
<!-- end slider section -->
 </div>
<section class="food_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container heading_center">
            <audio controls style="margin-left: 20px;">
                <source src="~/feane-1.0.0/audio/Melody Burger, lezzetin senfonisi.mp3" type="audio/mpeg">
                Tarayıcınız bu ses elemanını desteklemiyor.
            </audio>          
        </div>   
    </div>
</section>
<section class="offer_section layout_padding-bottom">
    <div class="offer_container">
        <div class="container ">
            <div class="row">
                <div class="col-md-6  ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/feane-1.0.0/images/c943bcabe9.jpg">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Delicious Weekends
                            </h5>
                            <h6>
                                <span>Up to 20% discounts</span>
                            </h6>
                            <a asp-controller="Campaign" asp-action="Index">
                                Order Now
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                      </g>
                    </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z" />
                      </g>
                    </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                      </g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                  </svg>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6  ">
                    <div class="box ">
                        <div class="img-box">
                            <img src="~/feane-1.0.0/images/21dd39fac0.jpg">
                        </div>
                        <div class="detail-box">
                            <h5>
                                Melody Burger Days
                            </h5>
                            <h6>
                                <span>Wallet Friendly</span>
                            </h6>
                            <a asp-controller="Campaign" asp-action="Index">
                                Order Now
                                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;" xml:space="preserve">
                                <g>
                                <g>
                                <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                     c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z" />
                      </g>
                    </g>
                                <g>
                                <g>
                                <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                     C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                     c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                     C457.728,97.71,450.56,86.958,439.296,84.91z" />
                      </g>
                    </g>
                                <g>
                                <g>
                                <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                     c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z" />
                      </g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                                <g>
                    </g>
                  </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>